.checkout{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 50px 
}
#quantity-input{
    width: 70px;
    margin: 10px
    
}
.quantity{
    display: flex;
    align-items: center;
    margin: 10px
}
#quantityHandler{
    background-color: transparent;
    color: white;
    height: 35px;
    border: 0;
}
.checkout-body{
    background-image: url(../../background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.c-container{
    width: 60%;
}

