.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    
    
}
.nav-search{
    justify-content: center;
}
.home-body{
    background-image: url(../../background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
