 /* .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 20px 20px;  
    
}  */
.nav-search{
    justify-content: center;
}
.home-body{
    background-image: url(../../background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card-cart-container{
    display: flex;
}
