.login-container{
    color: white;
    background-image: url('../../login.jpg');
    background-size: cover;
    
    height: 82vh;
    background-repeat: no-repeat;
}
.sign-in{
    height: 50px;
    text-align: left;
    font-size: large;
}