.App {
  text-align: center;
}
.nav-link{
  margin-left: 20px;
  color: white;
}

/* body{
  background-image: url("./background.jpg");
} */
.profile-image{
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
